<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <style>

    .header
    {
    width:auto; height:200px; background-color:#339999;line-height:200px;
    }
    .xian{width:auto; height:10px; background-color:#888888; margin: 10 auto;}
    ul{
    border-radius:15px;
    margin:0 20px;
    width:300px;
    height:180px;
    background-color:#888888;
    opacity: 0.85;
    float:left;
    }
    th{height:30px;border:2px solid #339999;}
    footer {position: relative;bottom: 0;}
  </style>
</head>

  <body>
   
<!--BEGIN EDITING BODY Investigative Team-->
        <div class="container">
          <div class="featured-item">
            <div class="col-lg-12">
              <div class="block">
                <div class="block-title">
                    <h1>Topic Experts</h1>
                    <br>
                    <h2><b>Technical Manager</b></h2>
                    <br>
                    <div class="row">
                      <div class="col-md-2"><img src="img/team/kathy.jpg" width=150px></div>
                      <div class="col-md-8"><b>Yiming Sun, M.S.</b> is a first year Masters Student - Electircal Engineering.He is a
                      a very hard and smart working person. He effectively leads the team and mentors his team members</div>
                    </div>
                    <br>
                    <h2><b>Senior Web Developer</b></h2>
                    <div class="row">
                      <div class="col-md-2"><img src="img/team/rita.jpg" width=150px></div>
                      <div class="col-md-8"><b>Yewei Chen</b> is first year Masters student - Electrical Engieering. She is an energetic young lady who is passionate about both front end and backend development.
                    </div>
                    <br>
                     <h2><b>Senior API Expert</b></h2>
                    <div class="row">
                      <div class="col-md-2"><img src="img/team/julia.jpg" width=150px></div>
                      <div class="col-md-8"><b>Yaoshi is a first year Masters student - Electrical Engineering. He is very soft spoken, but given a task - he makes sure that he gets it done on time.His area of expertise is ElasticSearch and Google APIs.</div>
                    </div>
                    <br>
                      <h2><b>Senior Web Developer</b></h2>
                    <div class="row">
                      <div class="col-md-2"><img src="img/team/meghna.jpg" width=150px></div>
                      <div class="col-md-8"><b>Smitha is a first year Masters student - Computer Science. She is involved mainly with the backend development and also played the role of tester to make sure the application runs fine.</div>
                    </div>
                  
                    <br>
              </div>
            </div>
          </div>
          <div class="ruler"></div>
        </div>
      </div>
      <!--/Footer Start: Copy from here to end and paste for every page-->
            <div class="copy-rights">
            <div class="container">
              <div class="row">

                <div class="col-md-8">
                  630 W 168th St, New York, NY 10032, USA<br><a href="http://www.columbia.edu"> © 2017 Columbia University</a>
                </div>

                  <div class="col-md-4">
                    Template by <a href="http://www.alltemplateneeds.com">www.alltemplateneeds.com</a>
                  </div>

                </div>
              </div>
            </div>
            </div>


          <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <script src="js/jquery-1.9.1.js"></script>
          <script src="js/bootstrap.js"></script>
          <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


        </body>
      </html>
